<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FiltroAdministrador</filter-name>
        <filter-class>filtros.FiltroAdministrador</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroArbitro</filter-name>
        <filter-class>filtros.FiltroArbitro</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroArbitro</filter-name>
        <url-pattern>/arbitro/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroAdministrador</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>GestionarUsuarios</servlet-name>
        <servlet-class>controlador.admin.GestionarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUsuario</servlet-name>
        <servlet-class>controlador.admin.CrearUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>controlador.admin.EditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>controlador.admin.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuAdministrador</servlet-name>
        <servlet-class>controlador.admin.MenuAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearLiga</servlet-name>
        <servlet-class>controlador.admin.CrearLiga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearEquipos</servlet-name>
        <servlet-class>controlador.admin.CrearEquipos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controlador.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionarPartidos</servlet-name>
        <servlet-class>controlador.arbitro.GestionarPartidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltrarJornadas</servlet-name>
        <servlet-class>controlador.arbitro.FiltrarJornadas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FiltrarPartidos</servlet-name>
        <servlet-class>controlador.arbitro.FiltrarPartidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPartido</servlet-name>
        <servlet-class>controlador.arbitro.ModificarPartido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirJornada</servlet-name>
        <servlet-class>controlador.arbitro.SubirJornada</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>VerClasificaciones</servlet-name>
        <servlet-class>controlador.VerClasificaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerEquipos</servlet-name>
        <servlet-class>controlador.VerEquipos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarEquipo</servlet-name>
        <servlet-class>controlador.MostrarEquipo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionarUsuarios</servlet-name>
        <url-pattern>/admin/GestionarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUsuario</servlet-name>
        <url-pattern>/admin/CrearUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/admin/EditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/admin/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuAdministrador</servlet-name>
        <url-pattern>/admin/MenuAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearLiga</servlet-name>
        <url-pattern>/admin/CrearLiga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearEquipos</servlet-name>
        <url-pattern>/admin/CrearEquipos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarPartidos</servlet-name>
        <url-pattern>/arbitro/GestionarPartidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltrarJornadas</servlet-name>
        <url-pattern>/arbitro/FiltrarJornadas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FiltrarPartidos</servlet-name>
        <url-pattern>/arbitro/FiltrarPartidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPartido</servlet-name>
        <url-pattern>/arbitro/ModificarPartido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirJornada</servlet-name>
        <url-pattern>/arbitro/SubirJornada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerClasificaciones</servlet-name>
        <url-pattern>/VerClasificaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerEquipos</servlet-name>
        <url-pattern>/VerEquipos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarEquipo</servlet-name>
        <url-pattern>/MostrarEquipo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
